.pwd{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width:30%;

}

.pwd.active{
  transform: translate(-50%, -50%) scale(1);
}

.pwd-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: rgba(27, 64, 88, 0.884);
  color:white;
  font-family:monospace;
}

.pwd-header .title{
  font-size: 1.5rem;
  font-weight: bold;
  
}

.pwd-header .close-pwd{
  cursor: pointer;
  border: none;
  outline: none;
  background:none;
  font-size: 1.25rem;
  font-weight: bold;
  color:white;
}

.pwd-content{
  padding: 10px 15px;
  text-align: center;
  line-height: 20px;
}


.user-password-input{
  width: 40%;
  outline: none;
  font-size: 180%;
  background-color: rgba(255, 255, 255, 0.747);
  border: rgb(0, 0, 0) solid;
  font-family: inherit;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-align: center;
  border-radius: 10%;
  transition-duration: 0.8s;
  margin:2%;
  
}

.user-password-input:hover{
  border: rgb(27, 64, 88) solid;
}

.user-password-input::placeholder{
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-align: center;

}