.daily{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width:40%;

}

.daily.active{
  transform: translate(-50%, -50%) scale(1);
}

.daily-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.daily-header .title{
  font-size: 1.5rem;
  font-weight: bold;
}

.daily-header .close-daily{
  cursor: pointer;
  border: none;
  outline: none;
  background:none;
  font-size: 1.25rem;
  font-weight: bold;
}

.daily-content{
  padding: 10px 15px;
}

