.login-pane{
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
  width:38%;
  transition-duration: 0.8s;
  

}

h1{
  margin:0;
  padding:0;
}
span{
  margin:0;
  padding:0;
}
.comunicate-zone{
  font-size: 3vh;
  font-family:monospace;
  margin:2%;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition-duration: 0.8s;
}

.comunicate-zone:hover{
  color:rgb(27, 64, 88);
  transition-duration: 0.8s;
}

.welcome-text{
  margin-top: 0;
  margin-bottom: 0;
  
}
.welcome-text-content{
  display: block;
  opacity: 0;
  animation: revealText 3s forwards;

}

.content-two{
  animation-delay: .175s;
  font-size: 3vh;
}

.inputs-zone{
  margin:2%;
  margin: 2%;
  
}

.user-logon-input{
  width: 40%;
  outline: none;
  font-size: 180%;
  background-color: rgba(255, 255, 255, 0.747);
  border: rgb(0, 0, 0) solid;
  font-family: inherit;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-align: center;
  border-radius: 10%;
  transition-duration: 0.8s;
  
}

.user-logon-input:hover{
  border: rgb(27, 64, 88) solid;
}

.user-logon-input::placeholder{
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-align: center;
  
}
.button-zone{
  text-align: center;
  margin:2%;
}

.login-button{
  color:rgb(0, 0, 0);
  border:  solid rgb(41, 44, 41);
  border-radius: 11px;
  background-color: rgba(255, 255, 255, 0.801);
  font-size: 180%;
  font-weight: 600;
  transition-duration: 0.8s;
}

.login-button:hover{
  background-color: rgba(27, 64, 88, 0.884);
  color:white;
}

.alert-zone{
  background-color: rgba(255, 0, 0, 0.596);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  font-family: inherit;
  font-weight: 600;
  transition-duration: 0.8s;
  
}
@keyframes revealText{
  from{transform: translateY(10%);}
  to{
  opacity: 1;
  transform: none;
  }
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}