.reservation{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width:40%;

}

.reservation.active{
  transform: translate(-50%, -50%) scale(1);
}

.reservation-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: rgba(27, 64, 88, 0.884);
  color:white;
}

.reservation-header .title{
  font-size: 1.5rem;
  font-weight: bold;
  font-family:monospace;
}

.reservation-header .close-reservation{
  cursor: pointer;
  border: none;
  outline: none;
  background:none;
  font-size: 1.25rem;
  font-weight: bold;
}

.reservation-content{
  padding: 10px 15px;
}

.reservation-button{
  text-align: center;
}

.alert-zone-reservation{
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  transition-duration: 0.8s; 
  color:rgb(241, 15, 15);
 
}

.alert-zone-reservation-edit{
  font-family: inherit;
  font-weight: 600;
  transition-duration: 0.8s; 
  color:rgb(241, 15, 15);
 
}
