.table{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width:40%;

}

.table.active{
  transform: translate(-50%, -50%) scale(1);
}

.table-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: rgba(27, 64, 88, 0.884);
  color:white;
  font-family:monospace;
}

.table-header .title{
  font-size: 1.5rem;
  font-weight: bold;
}

.table-header .close-table{
  cursor: pointer;
  border: none;
  outline: none;
  background:none;
  font-size: 1.25rem;
  font-weight: bold;
}

.table-content{
  padding: 10px 15px;
}

#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0, .5);
  pointer-events: none;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}

.singleTable{
  background-color: rgba(27, 64, 88, 0.884);
  font-family: monospace;
  color: white;
  font-size: 1.5em;
  margin:1%;

}

.tableName{
 float:left;
}

.tableright{
 text-align: right;
}


.table-edit{
 position: fixed;
 top:50%;
 left:50%;
 transform: translate(-50%, -50%) scale(0);
 transition: 200ms;
 border: 1px solid black;
 border-radius: 10px;
 z-index: 10;
 background-color: white;
 width:40%;

}

.table-edit.active{
 transform: translate(-50%, -50%) scale(1);
}

.tablecost{
  float:left;
  color:gray;
}

.alert-zone-table{
  font-family: inherit;
  font-weight: 600;
  transition-duration: 0.8s; 
  color:rgb(241, 15, 15);
 
}

.alert-zone-table-edit{
  font-family: inherit;
  font-weight: 600;
  transition-duration: 0.8s; 
  color:rgb(241, 15, 15);
 
}